{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TimBurnsTherapy</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="/static/css/style.css?{% now "U" %}">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js?{% now "U"} %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="Integrative and relational psychotherapist and counsellor offering EMDR, individual and couples therapy to treat depression, relationship conflict, anxiety and trauma.">
    <meta name="keywords" content="Tim Burns, EMDR, Whitstable, therapy, counselling, depression, anxiety, couples, trauma, relationship">
    <meta name="author" content="Tim Burns">
</head>
<body>
    <section class="landing">
        <picture>
            <source media="(max-width:240px)" srcset="{% static 'images/Sunset240.jpg' %}">
            <source media="(max-width:360px)" srcset="{% static 'images/Sunset360.jpg' %}">
            <source media="(max-width:480px)" srcset="{% static 'images/Sunset480.jpg' %}">
            <source media="(max-width:720px)" srcset="{% static 'images/Sunset720.jpg' %}">
            <source media="(max-width:1080px)" srcset="{% static 'images/Sunset1080.jpg' %}">
            <source media="(max-width:1440px)" srcset="{% static 'images/Sunset1440.jpg' %}">
            <source media="(max-width:3840px)" srcset="{% static 'images/Sunset3840.jpg' %}">
            <img class='full' src="{% static 'images/Sunset.jpg' %}" alt='Sunset Over Waves'>
        </picture>
                    <p class="text-static" id="ts">Need Help With</p>
                    <p class="text-change" id="text-change"></p>
        <button class='btn'><a class="btn" href='#about' onclick="removeHead()">Get Help Now</a></button>
    </section>
        <main>
            <nav class="header">
                <ul class="header-links">
                    <li class="header-item"><a href="#about" onclick="removeHead()">About</a></li>
                    <li class="header-item"><a href="#location" onclick="removeHead()">Location</a></li>
                    <li class="header-item"><a href="#therapies" onclick="removeHead()">Therapies</a></li>
                    <li class="header-item"><a href="#price" onclick="removeHead()">Price</a></li>
                    <li class="header-item"><a href="#contact" onclick="removeHead()">Contact</a></li>
                </ul>
            </nav>
        <section class="about" id="about">
            <div class="observe1">
                <div class="bottom"> 
                    <h2 class="title">Experienced &amp; Qualified</h2>
                </div>
                <div class="content">
                    <div class="col-2">
                        <p class="quote">
                            "As a psychotherapist and counsellor I believe in working collaboratively with clients in
                            order for them to reach a deeper personal understanding of themselves... "
                        </p>
                        <picture>
                            <source media="(max-width:240px)" srcset="{% static 'images/TimBurns240.jpg' %}">
                            <source media="(max-width:360px)" srcset="{% static 'images/TimBurns360.jpg' %}">
                            <source media="(max-width:480px)" srcset="{% static 'images/TimBurns480.jpg' %}">
                            <img class="first" src="{% static 'images/TimBurns.jpg' %}" alt='Dr Timothy Burns'>
                        </picture>
                    </div>
                    <div class="col-2">
                        <p class="about">Dr. Tim Burns is an experienced integrative and relational psychotherapist and counsellor.
                            <br>
                            <br> 
                            An accredited member of the <strong>British Association for Counselling and Psychotherapy</strong> and a member of the <strong>The British Psychological Society</strong>.
                            <br>
                            <br>
                            With over <strong>15 years</strong> experience in Primary Care Mental Health Services for the NHS as well as private practice.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="therapies" id="therapies">
            <div class="observe2">
                <div class="bottom"> 
                    <h2 class="title">Therapies</h2>
                </div>
                <div class="content">
                    <p class="quote">
                        "...explore aspects of their past and present issues, 
                        find acceptance of aspects of their lived experience that cannot 
                        be changed... "
                    </p>
                    <p>Tim incorporates therapeutic approaches and theories drawn from wider psychological and psychotherapeutic traditions, including <strong>Narrative Therapy</strong>, <strong>Mindfulness</strong>, <strong>Interpersonal Psychotherapy</strong> and <strong>Gestalt</strong>.</p>
                    <br>
                    <br>
                    <p class="info" id="info">Hover over each therapy for more information...</p>
                    <p class="info-sm" id="info">Click on each therapy for more information...</p>
                    <div class="col-3">
                        <a class="EMDR" href='#contact' onclick="fillEMDR()"><h3 class="title-lg" onmouseover="revealText1()">EMDR</h3></a>
                        <a class="EMDR"><h3 class="title-sm" onmouseover="revealText1()">EMDR</h3></a>
                        <ul class="therapy-list" id="tl1">
                            <li class="therapy">Relieve distress</li>
                            <li class="therapy">Change negative beliefs</li>
                            <li class="therapy">Develop insight into your trauma</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a class="Individual" href='#contact'onclick="fillIndividual()"><h3 class="title-lg" onmouseover="revealText2()">Individual</h3></a>
                        <a class="Individual"><h3 class="title-sm" onmouseover="revealText2()">Individual</h3></a>
                        <ul class="therapy-list" id="tl2">
                            <li class="therapy">Reduce stress and anxiety</li>
                            <li class="therapy">Help with addiction</li>
                            <li class="therapy">Come to terms with loss</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a class="Couples" href='#contact' onclick="fillCouple()"><h3 class="title-lg" onmouseover="revealText3()">Couples</h3></a>
                        <a class="Couples"><h3 class="title-sm" onmouseover="revealText3()">Couples</h3></a>
                        <ul class="therapy-list" id="tl3">
                            <li class="therapy">Conflict resolution</li>
                            <li class="therapy">Improve communication</li>
                            <li class="therapy">Build a healthy relationship</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="location" id="location">
            <div class="observe3">
                <div class="bottom"> 
                    <h2 class="title">Location</h2>
                </div>
                <div class="content">
                    <p class="quote">
                        "...essential to this process is the provision of a safe and confidential environment..."
                    </p>
                    <div class="col-2">
                        <a class="In Person" href='#contact' onclick="fillPerson()"><h3 class="title">In Person</h3></a>
                        <p class="location-description" id="ld1">Feel safe and comfortable in a private therapy room in Whitstable.</p>
                        <picture>
                            <a class="ext" target="_blank" href="https://www.google.com/maps/place/Whitstable/">
                                <source media="(max-width:240px)" srcset="{% static 'images/Whitstable240.jpg' %}">
                                <source media="(max-width:360px)" srcset="{% static 'images/Whitstable360.jpg' %}">
                                <source media="(max-width:480px)" srcset="{% static 'images/Whitstable480.jpg' %}">
                                <source media="(max-width:720px)" srcset="{% static 'images/Whitstable720.jpg' %}">
                                <img class="second" id="second" src="{% static 'images/Whitstable.jpg' %}" alt='Whitstable'>
                            </a>
                        </picture>
                    </div>
                    <div class="col-2">
                        <a class="Online" href='#contact' onclick="fillOnline()"><h3 class="title">Online</h3></a>
                        <p class="location-description" id="ld2">Enjoy the comfort and convenience of online therapy using Zoom.</p>
                        <picture>
                            <a class="ext" target="_blank" href="https://zoom.us/">
                                <source media="(max-width:240px)" srcset="{% static 'images/Zoom240.jpg' %}">
                                <source media="(max-width:360px)" srcset="{% static 'images/Zoom360.jpg' %}">
                                <source media="(max-width:480px)" srcset="{% static 'images/Zoom480.jpg' %}">
                                <source media="(max-width:720px)" srcset="{% static 'images/Zoom720.jpg' %}">
                                <img class="third" id="third" src="{% static 'images/Zoom.jpg' %}" alt='Zoom Meeting'>
                            </a>
                        </picture>
                    </div>
                </div>
            </div>
        </section>
        <section class="price" id="price">
            <div class="observe4">
                <div class="bottom"> 
                    <h2 class="title">Adjustable Pricing</h2>
                </div>
                    <div class="content">
                        <p class="quote">
                            "...with the goal to make meaningful changes to improve their
                            sense of psychological well-being."
                        </p>
                        <p class="text">We understand that therapy shouldn't be a luxury. 
                            <br>
                            <br>
                            If your circumstances mean you can't afford, <strong>please don't hesitate to reach out.</strong> 
                            <br>
                            <br>
                            We will help where we can.</p>
                        <table class="prices">
                            <thead>                    
                                <th></th>
                                <th>Online</th>
                                <th>In Person</th>
                            </thead>
                            <tbody>
                            {% for price in prices %}
                                <tr class="body">
                                    <td>{{price.Therapy}}</td>
                                    <td>£{{price.Online}}</td>
                                    <td>£{{price.In_Person}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </section>
            <section class="contact" id="contact">
                <div class="observe5">
                    <div class="bottom"> 
                        <h2 class="title">Get In Touch</h2>
                    </div>
                    <div class="content">
                        <form id="messageform" class="form" autocomplete="off" method="POST" action="#contact" enctype="multipart/form-data">
                        {% csrf_token %}
                            <label class="hide-element" for="name">Name:</label>
                            {{ messageform.Name }}
                            <label class="hide-element" for="email">Email:</label>
                            {{ messageform.Email }}
                            <label class="hide-element" for="therapy">Therapy:</label>
                            {{ messageform.Therapy }}
                            <label class="hide-element" for="location">Location:</label>
                            {{ messageform.Type }}
                            <label class="hide-element" for="message">Message:</label>
                            {{ messageform.Message }}
                            <input class="submit" type="submit" onclick="removeHead()" value="Send">
                        </form>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <p class="success fadeinTopdelayedmore">{{ message }}
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </p>
                        {% endif %}
                        {% if message.tags == 'error'%}
                        <p class="alert fadeinTopdelayedmore">{{ message }}
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
        </main>
    <footer class="footer" id="footer">
        <ul class="footer-links">
            <li class="footer-item"><a href="#about">About</a></li>
            <li class="footer-item"><a href="#location">Location</a></li>
            <li class="footer-item"><a href="#therapies">Therapies</a></li>
            <li class="footer-item"><a href="#price">Price</a></li>
            <li class="footer-item"><a href="#contact">Contact</a></li>
            <li class="footer-item">TimBurnsTherapy &#xa9;</li>
        </ul>
    </footer>
</body>
</html>